# Ignore build files and binaries
bin/
obj/
*.exe
*.dll
*.pdb

# Ignore Visual Studio and Rider settings
.vs
.vscode/
**/.idea/
**/.obj/
*.suo
*.user
*.cache
*.log

# Ignore dependency files
node_modules/
packages/

# Ignore environment variables and secrets
.env
appsettings.json
appsettings.Development.json

# Ignore compiled outputs
*.o
*.a
*.lib
*.out
*.so
*.pyc

# Ignore NuGet packages
*.nupkg
.nuget/

# Ignore logs
*.log
logs/
